{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mars Street View</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet">

    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/module.css' %}" rel="stylesheet">
    <link href="{% static 'css/map.css' %}" rel="stylesheet">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Mars Street View</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="#">Documentation</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block content %}
    {% endblock %}
        <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://www.extremetech.com/wp-content/uploads/2016/01/Opportunity.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Opportunity</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://www.3dvisionlive.com/sites/default/files/Curiosity_render_hiresb.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Curiosity</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://www.universetoday.com/wp-content/uploads/2008/10/five_years_on_mars-4_10240768.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Spirit</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>


    <!-- HOME CONTAINER -->
    <article class="container">

      <!-- WEB HOME -->
      <div class="home-view">
        <div class="desktop-home">
          <section class="main-menu row" id="menu-home">

            <!-- MAR GLOBE -->
            <section class="planet-menu six columns">
                <figure class="mars">
                    <span class="caps"></span>
                    <span id="opportunity" class="map-loc"></span>
                    <span id="curiosity" class="map-loc"></span>
                    <span id="spirit" class="map-loc"></span>
                </figure>
            </section>

            <!-- ALL ROVER INFO -->
            <section class="info six columns">


              <!-- HOME INTRO -->
              <article class="welcome">
                <h2>Welcome to Mars Street View!</h2>
                <ul>
                  <li>Walk the red planet alongside your favorite little robots. Get ready for some fun in the sun and the dirt and the dust... the dust goes on in every direction forever. Mars is devoid of life! <strong>Click a rover to begin!</strong></li>
                </ul>
              </article>

              <!-- OPPORTUNITY HOME -->
              <article class="rover-info about" rover="Opportunity" rover-lower="opportunity">
                <h2>Opportunity</h2>
                <ul>
                    <li><strong>Status</strong>: Active</li>
                    <li><strong>Landing Date</strong>: January 25, 2004</li>
                    <li><strong>Mission Sols</strong>: 2208</li>
                    <li><strong>Total photos</strong>: 179081</li>
                    <li><strong>Cameras</strong>: 5</li>
                    <li>Opportunity landed on Mars 3 weeks after its twin, Spirit. While its mission was planned to last 90 days, Opportunity has operated continuously for 4327 sols (Martian days) as of March 31st, 2016. It has exceeded its planned operational capacity by 11 years and 337</li>
                </ul>
              </article>
                
              <!-- CURIOSITY HOME -->
              <article class="rover-info about" rover="Curiosity" rover-lower="curiosity">
                <h2>Curiosity</h2>
                <ul>
                  <li><strong>Status</strong>: Active</li>
                  <li><strong>Landing Date</strong>: August 6, 2012</li>
                  <li><strong>Mission Sols</strong>: 1298</li>
                  <li><strong>Total photos</strong>:  312866</li>
                  <li><strong>Cameras</strong>: 7</li>
                  <li>The purpose of Curiosity was to find out if Mars could or had supported life. It’s arms are over 7 feet and the rover is almost 10 feet long, 9 feet wide and 7 feet tall.</li>
                </ul>
              </article>


              <!-- SPIRIT HOME -->
              <article class="rover-info about" rover="Spirit" rover-lower="spirit">
                <h2>Spirit</h2>
                <ul>
                  <li><strong>Status</strong>: Offline permanently</li>
                  <li><strong>Landing date</strong>:  January 4, 2004</li>
                  <li><strong>Mission sols</strong>: 2208</li>
                  <li><strong>Total photos</strong>: 124550</li>
                  <li><strong>Cameras</strong>: 5</li>
                  <li>Spirit landed on Mars 3 weeks before its twin, Opportunity. While its mission was planned to last 90 days, Spirit continued to operate for 2208 sols (Martian days). Spirit became stuck in a sand pit on May 2009, then gradually ceased to function as its solar panels became covered with dust. Its last communication to Earth was March 22, 2010.</li>
                </ul>
              </article>

            </section>
          </section>

        </div>
      </div>
    </article>


    <!-- Page Content -->
    <div class="container">
        <!-- Footer -->
        <footer class="footer">
            <div class="row">
                <div class="col-lg-12">
                    <p style="margin:0;">Copyright &copy; Mars Street View | 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
