{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mars Street View</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet">

    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/module.css' %}" rel="stylesheet">
    <link href="{% static 'css/map.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">



    <!-- Custom CSS -->
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!--     <div id="preloader">
      <div id="status"> <img src="{% static 'img/preloader.gif' %}" height="64" width="64" alt=""> </div>
    </div> -->

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/"><img height="31px" src="{% static 'img/msv_logo.svg' %}"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#rovers">Rovers</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://www.extremetech.com/wp-content/uploads/2016/01/Opportunity.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Opportunity</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://www.3dvisionlive.com/sites/default/files/Curiosity_render_hiresb.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Curiosity</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://www.universetoday.com/wp-content/uploads/2008/10/five_years_on_mars-4_10240768.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Spirit</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="rovers"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <a href="{% url 'rover' %}" id="Opportunity" style="text-decoration: none;"><h2>Opportunity</h2></a>
                    <ul>
                        <li><strong>Status</strong>: Active</li>
                        <li><strong>Landing Date</strong>: January 25, 2004</li>
                        <li><strong>Mission Sols</strong>: 2208</li>
                        <li><strong>Total photos</strong>: 179081</li>
                        <li><strong>Cameras</strong>: 5</li>
                        <li>Opportunity landed on Mars 3 weeks after its twin, Spirit. While its mission was planned to last 90 days, Opportunity has operated continuously for 4327 sols (Martian days) as of March 31st, 2016. It has exceeded its planned operational capacity by 11 years and 337</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="http://simpleicon.com/wp-content/uploads/rocket.svg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <a href="{% url 'rover' %}" id="Curiosity" style="text-decoration: none;"><h2>Curiosity</h2></a>
                    <ul>
                      <li><strong>Status</strong>: Active</li>
                      <li><strong>Landing Date</strong>: August 6, 2012</li>
                      <li><strong>Mission Sols</strong>: 1298</li>
                      <li><strong>Total photos</strong>:  312866</li>
                      <li><strong>Cameras</strong>: 7</li>
                      <li>The purpose of Curiosity was to find out if Mars could or had supported life. It’s arms are over 7 feet and the rover is almost 10 feet long, 9 feet wide and 7 feet tall.</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/564x/d4/b3/bb/d4b3bb99ccb243de463ab00d5f985ca7.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <a href="{% url 'rover' %}" id="Spirit" style="text-decoration: none;"><h2>Spirit</h2></a>
                    <ul>
                      <li><strong>Status</strong>: Offline permanently</li>
                      <li><strong>Landing date</strong>:  January 4, 2004</li>
                      <li><strong>Mission sols</strong>: 2208</li>
                      <li><strong>Total photos</strong>: 124550</li>
                      <li><strong>Cameras</strong>: 5</li>
                      <li>Spirit landed on Mars 3 weeks before its twin, Opportunity. While its mission was planned to last 90 days, Spirit continued to operate for 2208 sols (Martian days). Spirit became stuck in a sand pit on May 2009, then gradually ceased to function as its solar panels became covered with dust. Its last communication to Earth was March 22, 2010.</li>
                    </ul>
                    </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="http://4vector.com/i/free-vector-mars-exploration-rover-clip-art_116592_Mars_Exploration_Rover_clip_art_hight.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!-- ================================== -->

    <!-- About Section -->
    <a  name="about"></a>
    <div id="services-section" class="text-center">
      <div class="container">
        <div class="section-title wow fadeInDown">
          <h2><strong>ABOUT </strong>US</h2>
          <hr>
          <div class="clearfix"></div>
          <p>
            Walk the red planet alongside your favorite little robots. Get ready for some fun in the sun and the dirt and the dust... the dust goes on in every direction forever. Mars is devoid of life! 
          </p>
        </div>

        <div class="space"></div>
        <div class="row">
          
          <div class="col-md-6 col-sm-6 service wow fadeInUp" data-wow-delay="400ms"> <i class="fa fa-gears"></i>
            <h4><strong>Will Weatherford</strong></h4>
            <p>
              Github: https://github.com/WillWeatherford<br>
              LinkedIn: https://www.linkedin.com/in/willweatherford1<br>
              Email: weatherford.william@gmail.com<br>
            </p>
          </div>
          <div class="col-md-6 col-sm-6 service wow fadeInUp" data-wow-delay="800ms"> <i class="fa fa-rocket"></i>
            <h4><strong>Munir Ibrahim</strong></h4>
            <p>
              Github: https://github.com/muniri92<br>
              LinkedIn: https://www.linkedin.com/in/muniribrahim<br>
              Email: mibrah04@gmail.com<br>
            </p>
          </div>
        
        </div>
      </div>
    </div>

    <!-- ================================== -->


    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect with Us:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/marsstreet" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/WillWeatherford/mars-rover" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#rovers">Rovers</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Mars Street View 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 2000 //changes the speed
    })
    </script>

</body>

</html>
