/*.port-pics {
	width: 100%;
	height: 100%;
}

.social ul {
	padding: 0px;
}

body, html {
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #1c424d;
}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	font-size: 36px;
	margin: 0;
}
h3 {
	font-size: 16px;
	font-weight: 700;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
a {
	color: #5b777f;
	transition: all 0.5s;
}
a:hover, a:focus {
	text-decoration: none;
	color: #f1c40f;
}
.img-centered {
	margin: 0 auto;
}
/*
/* ul ol {
	list-style: none;
}*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #032e3a;
	z-index: 99999;
	height: 100%;
}
#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	padding: 0;
}
.section-title {
	padding: 30px 0;
}
.section-title h2 {
	font-weight: 400;
	margin-bottom: 26px;
}
hr {
	height: 3px;
	width: 60px;
	position: relative;
	background: #626a29;
	border: 0;
	margin-bottom: 30px;
}

/* Home Style */
header {
	background: url(../img/hq_3.jpg) no-repeat bottom center;
	background-size: cover;
	color: #d9e0e2;
	position: relative;
	height: 100%;
}
header p {
	color: #d9e0e2;
	font-size: 20px;
	margin-bottom: 80px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.intro-text {
	position: relative;
	padding-top: 250px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 170px;
}
.intro-text H1 {
	font-size: 70px;
	text-transform: uppercase;
	color: #d9e0e2;
	letter-spacing: 2px;
}
.color {
	color: #f3ca27;
}
.btn-default {
	color: #294d57;
	font-family: 'Open Sans', sans-serif;
	background-color: #f1c40f;
	border: 0;
	margin: 0 8px;
	font-size: 18px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #c1a618;
}
/* Services Section */
#services-section {
	padding: 40px 0 100px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#032731+0,032e3a+20,032e3a+100,032731+100 */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#032731', endColorstr='#032731', GradientType=0 ); /* IE6-9 */
	color: black;
}
#services-section h4 {
	color: black;
	text-transform: uppercase;
}
.space {
	margin-top: 40px;
}
#services-section i.fa {
	font-size: 40px;
	border: 0;
	width: 100px;
	height: 80px;
	padding: 22px 25px;
	background: black;
	margin-bottom: 6px;
	border-radius: 10%;
	color: #f8f8f8;
	transition: all 0.5s;
}
#services-section .service:hover>i.fa {
	background: #f8f8f8;
	color: black;
}
/* Gallery Section 
==============================*/
#works-section {
	padding: 40px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1a618+0,f1c40f+25,f1c40f+75,c1a618+100 */
	/*background: rgb(193,166,24); /* Old browsers */*/
	/*background: -moz-linear-gradient(top, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* FF3.6-15 */*/
	/*background: -webkit-linear-gradient(top, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* Chrome10-25,Safari5.1-6 */*/
	/*background: linear-gradient(to bottom, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1a618', endColorstr='#c1a618', GradientType=0 ); /* IE6-9 */*/
}
#works-section i.fa {
	font-size: 30px;
	padding: 5px;
	color: s#f1c40f;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
#works-section hr {
	background: #a9971c;
}
ul.cat{
	padding: 0px;
}
ul.cat li {
	display: inline-block;
}
ol.type{
	padding: 0px;
}
ol.type li {
	display: inline-block;
	margin-left: 16px;
}
ol.type li a {
	color: #51633d;
	border: 1px solid #f7dc6f;
	padding: 8px 16px;
	border-radius: 3px;
}
ol.type li a.active {
	background: #f7dc6f;
}
ol.type li a:hover {
	background: #f7dc6f;
}

}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

@media (max-width: 768px) {
.content {
	padding: 40% 0 0;
}
}

@media (max-width: 603px) {
#menu.navbar-default {
	background-color: rgba(0, 0, 0, 0.7);
}
label {
	float: none !important
}
.hover-bg .hover-text {
	padding: 12% 10%;
}
}

@media (max-width: 360px) {
.hover-bg .hover-text {
	padding: 22% 10%;
}
}
